:root{
	--background: #0a0b0b;
	--loading: white;
	--heading: white;
	--paragraph: white;
	--link: red;
}

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	outline-color: transparent;
}

*::selection{
	background-color: red;
}

body{
	width: 100vw;
	height: 100vh;
	background-color: var(--background);
	position: fixed;
	overflow: hidden;
}

main{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	position:relative;
}

.loading{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--loading);
	border: 1px solid var(--loading);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.loading::before{
	content: "";
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	background-color: var(--background);
	margin-left: 20px;
	animation: black_phase 5s step-end infinite;
}

.loading::after{
	content: "";
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	background-color: var(--loading);
	margin-left: -20px;
	animation: white_phase 5s step-end infinite;
}

h1{
	font-size: 4.5rem;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
	color: var(--heading);
}

p{
	font-size: 1.2rem;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: var(--paragraph);
}

p>a{
	color: var(--link);	
}

@keyframes black_phase{
	0%{
		width: 52px;
		height: 52px;
		margin-left: 0px;
	}
	12%{
		width: 40px;
		height: 55px;
		margin-left: 20px;
	}
	24%{
		width: 52px;
		height: 52px;
		border-radius: 0;
		margin-left: 50px;
	}
	36%{
		width: 52px;
		height: 52px;
		border-radius: 50%;
		margin-left: 0;
	}
	84%{
		width: 40px;
		height: 55px;
		margin-left: -20px;
	}
	100%{
		margin-left: 0px;
		width: 52px;
		height: 52px;
	}
}

@keyframes white_phase{
	0%{
		width: 52px;
		height: 52px;
		margin-left: -120px;
	}
	36%{
		width: 40px;
		height: 55px;
		margin-left: -20px;
	}
	48%{
		width: 50px;
		height: 50px;
		margin-left: 0;
	}
	60%{
		width: 40px;
		height: 55px;
		margin-left: 20px;
	}
	72%{
		width: 50px;
		height: 50px;
		border-radius: 0;
		margin-left: 50px;
	}
	84%{
		margin-left: -120px;
	}
	100%{
		width: 52px;
		height: 52px;
		margin-left: -120px;
	}
}

